/* Estilos adicionales para mejorar la apariencia */
#section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e74c3c;
  overflow: hidden;
}

#carousel {
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease;
}

#carousel img:not(:first-child) {
  opacity: 0;
}
/* Agrega estilos adicionales según sea necesario */